[submodule "self-improving-system"]
	path = self-improving-system
	url = https://github.com/LKCY23/self-improving-system.git
[submodule "constraints"]
	path = constraints
	url = https://github.com/LKCY23/constraints.git
[submodule "development"]
	path = development
	url = https://github.com/LKCY23/development.git
